<div class="container"  role="main">
      <div class="theme-showcase" role="main">

  <div class="left-pic">
    <img src="https://media.giphy.com/media/3oz8xO3S4mUmacTEl2/giphy.gif" width="380" height="380">
  </div>

  <div class="right-info">
    <h1> Welcome to Open When!</h1>
  </div>



<p><%= flash[:message] %> </p>

<%= form_for :session  do |f| %>
<%= f.label :username %>
<%= f.text_field :username %><br>
<%= f.label :password %>
<%= f.password_field :password %><br>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %><br>
<%= f.submit "Log In" %>
<% end %>
