<div class="container-fluid"  role="main">
      <div class="theme-showcase" role="main">

  <div class="left-align">
    <div class="row">
      <img src="https://media.giphy.com/media/3oz8xO3S4mUmacTEl2/giphy.gif" width="380" height="380">
    </div>
  </div>

  <div class="right-align">
    <div class="row">
      <h1> Welcome to Open When!</h1>
      <p><%= flash[:message] %> </p>
        <%= form_for :session  do |f| %>
      <div class="form-group">
        <%= f.label :username %><br>
        <%= f.text_field :username %><br>
      </div>
      <div class="form-group">
        <%= f.label :password %><br>
        <%= f.password_field :password %><br>
      </div>
        <%= f.submit "Log In", class: 'btn btn-large btn-primary'%>
        or <%= link_to "Sign Up!", new_user_path %>
        <% end %>
    </div>
  </div>
</div>
