<div class="container-fluid"  role="main">
      <div class="theme-showcase" role="main">

  <div class="left-align">
    <div class="col-sm-5">
      <img src="https://media.giphy.com/media/3oz8xO3S4mUmacTEl2/giphy.gif" width="90%" height="80%">
    </div>
  </div>

  <div>
    <div class="col-sm-4">
      <h1> Welcome to Open When!</h1>
      <p><%= flash[:message] %> </p>
        <%= form_for :session  do |f| %>
      <div class="form-group">
        <%= f.label :username %><br>
        <%= f.text_field :username %><br>
      </div>
      <div class="form-group">
        <%= f.label :password %><br>
        <%= f.password_field :password %><br>
      </div>
        <%= f.submit "Log In", class: 'btn btn-large btn-primary'%>
        or <%= link_to "Sign Up!", new_user_path %>
        <% end %>
    </div>
  </div>
</div>

<div class="col-sm-3">
  <h4>What is Open When?</h4>
  <p>OpenWhen allows you to send heartfelt messages to your loved ones that they can open whenever they feel a certain mood.</p>

  <p>Want to cheer someone up? Send an 'Open When You're...Sad.' Want to cheer someone on during a difficult challenge? Write an 'Open When You're...In need of motivation.'</p>
</div>
