<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @user.name == @user.email %>
          <h1>Lucky duck!</h1>
          <p>
            Someone has sent you an OpenWhen!
          </p>
            To see it, login here: <%= @url %>
          </p>
            Your username is: <%= @user.username %>.<br>
          </p>
          <p>
            Your password is: OpenWhen (case sensitive!)
          </p>Enjoy your special message!</p>

  <% else %>

    <h1>Welcome to OpenWhen.co, <%= @user.name.titleize %></h1>
    <p>
      You have successfully signed up,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>

    <% end %>


  </body>
</html>
