<p><%= flash[:message] %></p>


<%= form_for @user do |f| %>
<div class="form-group">
  <%= f.label :name %><br>
  <%= f.text_field :name, placeholder: "name" %><br>
</div>
<div class="form-group">
  <%= f.label :username %><br>
  <%= f.text_field :username, placeholder: "username" %><br>
</div>
<div class="form-group">
  <%= f.label :email %><br>
  <%= f.text_field :email, placeholder: "example@example.com" %><br>
</div>
<div class="form-group">
  <%= f.label :password %><br>
  <%= f.password_field :password, placeholder: "your password here" %><br>
</div>
<div class="form-group">
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation, placeholder: "confirm password" %><br>
</div>
<%= f.submit "Sign up", class: 'btn btn-large btn-primary' %>
<% end %>
