<%= flash[:search] %>
<br>

<%= link_to "All envelopes", home_path%>
<% if params[:category_id] %>
<h4> Open when you're: <%= Category.find(params[:category_id]).name %> </h4>
<% end %>
<br>



<% @posts.each do |post|   %>
    <% if post.read_status == false%>
     <div class="col-sm-4">
       <div class="card">
         <div class="card-block">
           <h3 class="card-title"></h3>
           <p class="card-text"></p>
            <%= button_to "#{post.title}", post_read_path(post), method: :post, class: 'btn btn-postit-unread' %>
            <!-- <input type="checkbox" value=""> -->
        </div>
      </div>
     </div>
     <% else %>
     <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title"></h3>
          <p class="card-text"></p>
             <%= button_to "#{post.title}", post_read_path(post), class: 'btn btn-postit-read' %>
        </div>
      </div>
     </div>
   <% end %>
<% end %>
<br>
<br>
