<%= flash[:search] %>
<h4> Open when you are: <%= Category.find(params[:category_id]).name %> </h4>

<br>
<% selected_posts = @posts.select {|post| post.recipient_id == current_user.id} %>



<%= form_tag(category_posts_path(params[:category_id]), method: "get") do %>
<%= label_tag(:q, "Search for") %>
<%= select_tag "search_by",options_for_select([ "tag", "sender" ], :search_input) %>
<%= text_field_tag(:q) %>
<%= submit_tag("Search") %>
<% end %>
<br>



<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% selected_posts.each do |post| %>
  <tr>
  <td style="padding: 0 10px 0 0">
    <% if post.read_status == false%>
      <%= image_tag 'heart.png', height: 10, width: 10 %>
    <% end %>
  </td>
    <td style="padding: 0 10px 0 0">
      <% if post.read_status == false%>
        <strong><%= link_to post.title, post_read_path(post), method: :post %></strong>
      <% else %>
        <%= link_to post.title, post_read_path(post), method: :post %>
      <% end %></td>

    <td style="padding: 0 10px 0 0">
      <% if post.read_status == true %>
          <%= button_to "Mark as unread", post_unread_path(post) %>
      <% end %>
    </td>
    </tr>
<% end %>

</table>
