<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All the Feels...</title>
  </head>
  <body>
    <h1>All the Feels...</h1>

     <strong> Your longest visit: </strong> <%= current_user.max_duration %> minutes <br>
     <strong> Average time you've spent on OpenWhen: </strong> <%= current_user.average_duration%> minutes<br>


     <strong> Total users: </strong> <%= User.all.count %><br>
     <strong> Total minutes spent by all users on platform: </strong> <%= @total_duration %><br>
     <strong> Longest visit to OpenWhen: </strong> <%= @longest_duration %> minutes<br>
     <strong> Average minutes spent per visit to OpenWhen: </strong> <%= @total_duration / Visit.all.count %><br>
     <strong> Total notes exchanged: </strong> <%= Post.all.count %><br>
     <strong> Percentage who send more than they receive: </strong> <%= @ratio %>%<br>
     <strong> Most popular category: </strong> <%= @most_popular_category.name %><br>
     <strong> Most popular tags:</strong>
        <ol>
          <% @top_three_tags.each do |tag| %>
          <li><%= tag.name %>: <%=Tag.where(name: tag.name).count%> notes</li>
          <%end%>
        </ol>
  <br>


  </body>
</html>
