<h1>Welcome, <%=current_user.name.titleize %>! </h1><br><br>

<%= flash[:send_success]  %><br>
<br>
<div>
  <% if logged_in?  %>
    <%= button_to "Write a new OpenWhen", new_post_path, method: :get, class: 'btn btn-large btn-primary' %><br>
      <% if !current_user.opens.empty? %>
        <% current_user.categories.each do |category|   %>
         <% if category.posts.count > 1 %>

           <div class="col-sm-4">
             <div class="card">
               <div class="card-block">
                 <h3 class="card-title"></h3>
                 <p class="card-text"></p>
                   <%= button_to "Open When...You're #{category.name}", category_posts_path(category), method: :get, class: 'btn btn-custom' %>
               </div>
             </div>
           </div>

        <% else %>

          <div class="col-sm-4">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title"></h3>
                <p class="card-text"></p>
                      <%= button_to "Open When... You're #{category.name}", post_read_path(category.posts.first), method: :post, class: 'btn btn-custom' %>
              </div>
            </div>
          </div>


        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
