<h1>Welcome, <%=current_user.name.titleize %>! </h1><br><br>

    <!-- <div class="center">
      <a href="/signin">Sign In</a>
      <a href="/users/new">Sign Up</a>
    </div> -->

<%= flash[:send_success]  %>
<div class="col-md-4 text-center">
  <% if logged_in?  %>
    <%= button_to "Write a new OpenWhen", new_post_path, method: :get, class: 'btn btn-large btn-primary' %><br>
      <% if !current_user.opens.empty? %>
        <% current_user_categories.each do |category|   %>
         <% if current_user_category_post_count(category) > 1 %>
          <%= button_to "Open When... You're #{category.name}", category_posts_path(category), method: :get, class: 'btn btn-large btn-primary' %>
        <% else %>
          <%= button_to "Open When... You're #{category.name}", post_path(current_user_category_posts(category)[0]), method: :get, class: 'btn btn-large btn-primary' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
<p><%= flash[:message] %></p>
